{% extends 'base.html'%}
{% block title%}
    <title>branches</title>
{%endblock%}
{% block breadcrumb%}
    <li class="breadcrumb-item active" aria-current="page">branches</li>
{%endblock%}
{% block content%}
    <table class="table table-hover">
        <thead class="table-dark">
            <th>branch name</th>
            <th>branch phone</th>
            <th>branch mail</th>
            <th>branch departments Count</th>
        </thead>
        <tbody>
        {%for branch in branches %}
            <tr>
                <td><a href="{% url 'branchesDetails' branch.pk %}">{{branch.name}}</a><br/><small class="text-muted">{{branch.address}}</small></td>
                <td>{%if branch.phone%}{{branch.phone}}{%endif%}</td>
                <td>{%if branch.email%}{{branch.email}}{%endif%}</td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'newBranch' %}" class="btn btn-outline-primary">new branche</a>
{%endblock%}